# Ignore files generated while compiling.
*.o
*.so
*.depend
*.a
*.log
*.status
*.aux
*.bbl
*.blg
*.out
*.toc
*.aux
*.nav
*.out
*.snm
*.toc
*.swp
*.swo

# Ignore backup files
*.blend1

# Ignore output directory of GDD.
docs/gdd/output/

# Ignore output directory of HaxeFlixel prototypes.
prototypes/haxeflixel/*/export/
